<div class="align-items-center d-flex photo-overlay py-5 cover" style="background-image: url(&quot;images/cover_dark.jpg&quot;);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 align-self-center text-lg-left text-center">
        <h1 class="mb-0 mt-4 display-3">Find the perfect recipe</h1>
        <p class="mb-5 lead">We've pulled together out most popular recipes that you can try anytime. Just tell us what's in your kitchen!</p>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
              <%= link_to '<button class="btn btn-primary btn-lg w-100"><i class="fa fa-fw fa-home"></i><b>Start searching for recipes here !</b></button>'.html_safe, categories_path %>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="container-fluid">
    <div class="row">
      <div class="p-0 col-md-2 col-4">
        <img src="images/food_12_dark.jpg" class="img-fluid"> </div>
      <div class="p-0 col-md-2 col-4">
        <img src="images/food_11_dark.jpg" class="img-fluid"> </div>
      <div class="p-0 col-md-2 col-4">
        <img src="images/food_10_dark.jpg" class="img-fluid"> </div>
      <div class="p-0 col-md-2 col-4">
        <img src="images/food_9_dark.jpg" class="img-fluid"> </div>
      <div class="p-0 col-md-2 col-4">
        <img src="images/food_8_dark.jpg" class="img-fluid"> </div>
      <div class="p-0 col-md-2 col-4">
        <img src="images/food_7_dark.jpg" class="img-fluid"> </div>
      <div class="p-0 col-md-2 col-4">
        <img src="images/food_5_dark.jpg" class="img-fluid"> </div>
      <div class="p-0 col-md-2 col-4">
        <img src="images/food_6_dark.jpg" class="img-fluid"> </div>
      <div class="p-0 col-md-2 col-4">
        <img src="images/food_4_dark.jpg" class="img-fluid"> </div>
      <div class="p-0 col-md-2 col-4">
        <img src="images/food_3_dark.jpg" class="img-fluid"> </div>
      <div class="p-0 col-md-2 col-4">
        <img src="images/food_2_dark.jpg" class="img-fluid"> </div>
      <div class="p-0 col-md-2 col-4">
        <img class="img-fluid" src="images/food_1_dark.jpg"> </div>
    </div>
  </div>
</div>